@keyframes PageFadeAnimation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.PageFade {
  animation: PageFadeAnimation 0.4s forwards;
}

#root {
  margin: 0;
  --white: #eee;
  --primary: #2A79C6;
  --primaryDk: #4688ca;
  --primaryGd: #4e96de;
  --secondary: #4B4B4D;
  --danger: #fd7272;
  --success: #059862;
  --warning: #059862
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e96de;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2A79C6;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 2rem;
}

input,
select,
textarea {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

input[type="color"] {
  padding: 0;
  appearance: none;
  cursor: pointer;
}

textarea:focus, input:focus {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  outline: none;
  transition: box-shadow 0.3s;
}

textarea {
  min-height: 10rem;
}


button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  margin: 0 0.3rem
}

button:hover {
  transform: scale(1.050);
  transition: transform 0.2s;
}

.btn-sm {
  font-size: 0.8em;
}

.btn-primary {
  background-color: #2A79C6;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #3a60a6;
}

.btn-secondary {
  background-color: #6863fc;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #514cd3;
}

.btn-success {
  background-color: #45c576;
  color: #ffffff;
}

.btn-success:hover {
  background-color: #37a260;
}

.btn-warning {
  background-color: #e9c474;
  color: #ffffff;
}

.btn-warning:hover {
  background-color: #b19c51;
}

.btn-danger {
  background-color: #e97474;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #b95a5a;
}

i {
  margin-right: 0.7rem;
}

.m-1 {
  margin: 0.3rem;
}

.m-2 {
  margin: 0.7rem;
}

.m-3 {
  margin: 1.3rem;
}