.DashboardCard{
  background: linear-gradient(to left, #1abc9c, #16a085);
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}