.Header{
  background: linear-gradient(to right, var(--primary), var(--primary), var(--primary),var(--primaryGd));
  height: 3.5rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Header h1,h2{
  margin: 0;
}

.Header .Title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.Header .Title img{
  width: 2.2rem;
  height: auto;
  margin-right: 1rem;
}

.Header .User-Actions{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Header .User-Actions p{
  margin: 1rem;
}

.Header .User-Actions a{
  color: #fff;
}

.Header .User-Actions a:hover{
  color: #fbc4a0;
  transform: scale(1.1);
}