aside{
  background-color: #fcfcfc;
  color: #585858;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  width: 20vw;
  padding: 0;
}

aside ul{
  padding: 0;
}

aside ul li{
  list-style: none;
  padding: 0.4rem 0.4rem 0 0.4rem;
  font-size: 16px;
}

aside ul li a{
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 0.7rem 0.7rem 0.7rem 3rem;
  width: inherit;
  display: block;
}

aside ul li a:hover{
  background-color: var(--primaryDk);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: ease background-color 0.3s;
  transition: padding 0.3s;
  padding: 0.7rem 0.7rem 0.7rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
